.blog-list-wrapper .blog-title-truncate {
  display : -webkit-box;
  -webkit-line-clamp : 2;
  -webkit-box-orient : vertical;
  overflow : hidden;
}

.blog-list-wrapper .blog-content-truncate {
  display : -webkit-box;
  -webkit-line-clamp : 3;
  -webkit-box-orient : vertical;
  overflow : hidden;
}

.blog-detail-wrapper .blog-detail-share .dropdown-menu {
  min-width : auto;
}

.blog-sidebar .blog-recent-posts img {
  -o-object-fit : cover;
     object-fit : cover;
}

.blog-sidebar .blog-recent-posts .text-body-heading:hover {
  color : #355BE8 !important;
}

.blog-sidebar .blog-recent-post-title, .blog-sidebar .blog-category-title {
  line-height : 23px;
  letter-spacing : 0;
}

.blog-edit-wrapper .border {
  border-color : #D8D6DE !important;
}